

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">eBay Playground</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
      </ul>
      <span class="navbar-text">
        <button *ngIf="!this.authService.isSandbox" (click)="this.authService.swapEnv()" class="nav-link btn btn-danger-outline" href="#">Production</button>
        <button *ngIf="this.authService.isSandbox" (click)="this.authService.swapEnv()" class="nav-link btn btn-success-outline" href="#">SandBox</button>
      </span>
      <span class="navbar-text">
        <button *ngIf="!authenticated" (click)="doLogin()" class="nav-link btn btn-danger-outline" href="#">Login</button>
        <button *ngIf="authenticated" (click)="doLogout()" class="nav-link btn btn-success-outline" href="#">Logout {{userName}}</button>
      </span>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
        <sidenav ></sidenav>
        <div class="col" id="main">
            <p>Site: {{getSite()}}</p>
            <p style=" word-break:break-word;">Access: {{getAccessToken()}}
            <br />Exp: {{d(this.authService.accessTokenExp)}}</p>
            <p style=" overflow-wrap:break-all;">Refresh: {{getRefreshToken()}}
            <br />Exp: {{d(this.authService.refreshTokenExp)}}

            


        </div>
    </div>
</div>

